:root{
    --background: #F8FAFC;
    --surface: #FFFFFF;
    --text: #111827;
    --secondary: #4B5563;
    --accent: #2563EB;
}

header{
    display: flex;
    align-items:center;
    padding: 1rem 2rem;
    
}
nav{
    margin-left: auto;
}
nav a:hover{
    color: var(--text);
}
nav ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 2rem;
       
}

body{
  background:var(--background);
  color: var(--text);
  font-family: "Poppins", sans-serif;
  margin: 0;
}


.hero-section{
    min-height: calc(100vh - 80px);
    background: var(--surface);
    padding: 5rem 8%;
    display:flex ;
    align-items: center;
    gap: 4rem;
    
}
.hero-section h3{
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
}
.hero-section h1{
    font-size: 3.5rem;
    margin-bottom: 3.9rem;
}
.hero-section h2{
    font-size: 1.5;
    color: var(--secondary);
    margin-bottom: 1.8rem;
}
.hero-section p{
    max-width: 700px;
    line-height: 2.2;
    margin-bottom: 1.9rem;
}
.hero-btn{
    display: flex;
    gap: 1.5rem;
}
.hero-content{
    flex: 1.2;
}
.hero-image{
    flex: 0.8;
    justify-content: center;
    
    align-items: center;
}
.hero-image img{
    width: 100%;
    max-width: 450px;
    object-fit: cover;
    border-radius: 50%;
    
}
.btn{
    display: inline-block;
    background: var(--accent);
    color: white;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    font-weight: 600;
    transition: background-color .3s, transform .2s;

}
.btn:hover{
    background: #1D4ED8;
    transform: translateY(-2px);
}


h1{
    font-size:1.5rem;
}

.abt-section{
    background: var(--surface);
    padding: 5rem 8%;
}
.abt-section h2{
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 2rem;
}
.abt-content{
    max-width: 850px;
    margin: 0 auto;
}
.abt-content p{
    text-align: justify;
    line-height: 1.9;
    margin-bottom: 1.5rem;
}

.steps-section{
    background: var(--surface);
    padding: 5rem 8%;
    
}
.steps-section h2{
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 2rem;
}
.steps-section p{
    max-width: 850px;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.9;
    margin-bottom: 1.5rem;

}
.timeline{
    position:relative;
    display:flex;
    flex-direction:column;
    gap:3rem;
}

.timeline::before{
    content:"";
    position:absolute;
    left:50%;
    top:0;
    transform:translateX(-50%);
    width:2px;
    height:100%;
    background:#d1d5db;
}

.timeline-item{
    display:grid;
    grid-template-columns:1fr 120px 1fr;
    align-items:start;
    position:relative;
}

.timeline-item::before{
    content:"";
    position:absolute;
    left:50%;
    top:10px;
    transform:translateX(-50%);
    width:12px;
    height:12px;
    background:#fff;
    border:2px solid #2563eb;
    border-radius:50%;
    z-index:2;
}

.timeline-year{
    grid-column:2;
    justify-self:center;
    font-weight:700;
    margin-top: -1.2rem;
    background: white;
    padding: 0 .4rem;
    z-index:3;
}

.timeline-content{
    background:#fff;
    padding:1.5rem;
    border-radius:12px;
    box-shadow:0 8px 24px rgba(0,0,0,.08);
}
.timeline-content ul{
    display: flex;
    flex-direction: column;
    gap:0.75rem;
    padding-left: 1.5rem;

}

.timeline-item:nth-child(odd) .timeline-content{
    grid-column:1;
    text-align:left;
}

.timeline-item:nth-child(even) .timeline-content{
    grid-column:3;
}

.work-section{
    background: var(--surface);
    padding: 5rem 8%;
}
.work-section h2{
    text-align: center;
    font-size: 2rem;
}
.projects{
    display:grid ;
    margin-top: 3rem;
    justify-content: center;
    gap: 3rem;
    grid-template-columns:repeat(auto-fit, minmax(320px, 1fr)) ;
}
.project-card{
    display: flex;
    flex-direction: column;
    background: white;
    padding:1.5rem;
    border-radius: 1rem;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.project-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
.project-img{
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.project-card h3{
    text-align: center;
    margin: 1 rem 0 0.5rem;
    
}
.project-card p{
   text-align: justify;
   margin-bottom: 1rem; 
    
}
.tech-stack{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.tech-stack span{
    background:blanchedalmond;
    color: var(--text);
    padding: 0.35rem 0.75rem;
    border-radius: 9px;
    font-size: 0.85rem;
    font-weight: 500;
}
.project-links{
    display: flex;
    gap: 1rem;
    margin-top: auto;
}
.project-links a{
    flex: 1;
    padding:0.75rem 1rem;
    background-color: var(--accent);
    color: #fff;
    border-radius: 0.5rem;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    transition: background-color .3s, transform .2s; ;
}
.project-links a:hover{
    background:blue ;
    transform: translateY(-2px);
}

.skill-section{
    background-color: var(--surface);
    padding:5rem 8%;
}
.skill-section h2{
    text-align: center;
    font-size: 2rem;
}
.marquee{
    overflow:hidden;
    width:100%;
    padding:1rem 0;
    
}
.marquee-track{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    width: max-content;
    animation-duration:10s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
}
.skill-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    min-width: 90px;
    flex-shrink: 0;
    cursor:pointer;   
    
}
.skill-card img{
    width: 60px;
    height: 60px;
    object-fit: contain;
    transition: transform .3s ease;
}
.skill-card span{
    font-size: .9rem;
    font-weight: 600;
    color: var(--text);
}
.skill-card:hover img{
    transform: scale(1.12);
}
.marquee-left .marquee-track{
    animation-name:scrollLeft;
}

.marquee-right .marquee-track{
    animation-name:scrollRight;
}
.skill-section:hover .marquee-track{
    animation-play-state:paused;
}
@keyframes scrollLeft{

    from{
        transform:translateX(0);
    }

    to{
        transform:translateX(-50%);
    }

}

@keyframes scrollRight{

    from{
        transform:translateX(-50%);
    }

    to{
        transform:translateX(0);
    }

}

.motto-section{
    background: var(--surface);
    padding: 6rem 8%;
    text-align: center;
    border-top: 1px solid #E5E7EB;
    border-bottom: 1px solid #E5E7EB;
}
.motto-section h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.motto-section blockquote{
    max-width: 750px;
    margin:0 auto;
    font-size: 1.6rem;    
    line-height: 1.8;
    font-style:italic;
    font-weight: 500;
    color: var(--secondary);
    position: relative;
}
.pub-section{
    background: var(--surface);
    padding: 5rem 8%;
}
.pub-section h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.pub-layout{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:4rem;
}
.pub-content{
   flex: 1;
}
.pub-content h3{
    font-size: 1.4rem;
}
.pub-content p{
    font-size: 1.1rem;
}
.book-img{
    flex: 0 0 280px;
}
.book-img img{
    width:100%;
    display:block;
    border-radius:12px;
}

.lead-section{
    background: var(--surface);
    padding: 6rem 8%;
}
.lead-section h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.mission-section{
    background: var(--surface);
    padding: 6rem 8%;
    text-align: center;
}
.mission-section h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

h2{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

h3{
    font-size: 1.1rem;
}

p{
    font-size: 1rem;
    line-height: 1.5;
}

.section{
    background: var(--surface);
    padding: 5%
}



a{  
    color: var(--accent);
    transition: 0.3s;
}

footer{
    background: var(--secondary);
    color: #FFFFFF;
    padding: 4rem 8%;
    
    
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1100px;
    
   
}
footer a{
    color:#D1D5DB;
    text-decoration: none;
    
}
footer a:hover{
    color: white;
    padding-left:4px;
}
.footer-content h2{
    margin-bottom: 1rem;
}
.footer-content p{
    line-height: 1.7;
}
footer ul{
    padding:0;
    list-style: none;   
}
footer li{
    margin-bottom: 0.6rem;
}
hr{
    border: none;
    height: 1px;
    background: #6B7280;
}
